body{
    background-color: #ADD9F9;
}

.name-block{
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
}

.labels{
    font-size: 1.5rem;
    font-weight: bold;
}

.health-bar-general{
    min-width: 2em;
}

.equip-readout{
    margin-top: 3rem;
    font-size: 2rem;
    font-weight: bold;
}

.center-all{
    display: flex;
    justify-content: center;
}

.target{
    max-width: 500px;
}

.image-block{
    display:flex;
    justify-content: center;

}

.info{
    display: flex;
    flex-direction: column;
}

.basic-buttons{
    margin-top: 10px;
     
}


.mod-buttons{
    margin-top: 10px;
}

.reset-button{
    display: flex;
    align-items: center;
}

.center-text{
    text-align: center;
}